

@import '../node_modules/bootstrap/scss/bootstrap';
body {
    padding-top: 4rem;
}
.scrollspy-example {
    height: calc(100vh - 66px);
    overflow-y: scroll;
}
.navbar-brand img{
    max-width: 160px;
}
.test{
   aspect-ratio: 1/1;
}
.carousel-item{
   
    height: 75vh;
}
.carousel-item img {
    object-fit: cover;
    object-position: center;
}
video{
    object-fit: cover;
}
.video-wrapper{
    height: calc(100vh - 64px);
}
