

@import '../node_modules/bootstrap/scss/bootstrap';
.scrollspy-example {
    height: calc(60vh - 66px);
    overflow-y: scroll;
}
.navbar-brand img{
    max-width: 160px;
}
video{
    object-fit: cover;
}
.video-wrapper{
    height: calc(100vh - 64px);
}