

@import '../node_modules/bootstrap/scss/bootstrap';
.scrollspy-example {
    height: calc(100vh - 66px);
    overflow-y: scroll;
}
.navbar-brand img{
    max-width: 160px;
}
.col.main-buttons{
    height: calc(25vh - 64px);
}
.carousel-inner{
    height: 75vh;
}
.carousel-item{
    height: 100%;
}
.carousel-item img {
    object-fit: cover;
    object-position: center;
}
video{
    object-fit: cover;
}
.video-wrapper{
    height: calc(100vh - 64px);
}
.test-row{
    height: 20vh;
}